<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIRKT.Properties.Settings.MainConnectionString" connectionString="Data Source=SSEDB;Initial Catalog=khobalatte_a;User ID=khobalatte_a;Password=newpassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>